body {
    background-color : lightgoldenrodyellow;
    margin : auto;
    width : 50%;
}

h2 {
    text-align : center;
    font-family : "Andale Mono";
    font-size : 37px;
    color : lightskyblue;
}

#single-image {
    margin : auto;
    width : 50%;
}

/* img {
    width : auto;
    height : 400px;
    margin : 10px;
} */

.happy {
    border : lightskyblue solid 3px;
}

.sad {
    border : darkgreen solid 3px;
}

form {
    border : lightgreen solid 3px;
}

input {
    margin-left : 32%;
    margin-top : 5px;
    margin-bottom : 5px;
}

.character {
    border: 3px solid lightskyblue;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

img {
    max-width: 400px;
    /* height: 400px; */
}

.buttons {
    display: flex;
    width: 150px;
    justify-content: space-around;
    margin-bottom: 15px;
}

.buttons button {
    padding: 10px;
}

.edit-form {
    border: none;
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    width: 300px;
}

.edit-form input {
    margin: 5px;
    padding: 5px;
}

.edit-form label {
    margin-left: 5px;
}