body {
    background-color : lightgoldenrodyellow;
    margin : auto;
    width : 50%;
}

h2 {
    text-align : center;
    font-family : "Andale Mono";
    font-size : 37px;
    color : lightskyblue;
}

#single-image {
    margin : auto;
    width : 50%;
}

img {
    width : auto;
    height : 400px;
    margin : 10px;
    border : lightskyblue solid 3px;
}

form {
    border : lightskyblue solid 3px;
}

input {
    margin-left : 35%;
    margin-top : 5px;
    margin-bottom : 5px;
}